<!DOCTYPE html>
<html ng-app="PermissionApp" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Permission Page</title>
    
    <!--Bootstrap.css-->
    <link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.min.css">
    
    <!--AngularJS-->
    <script src="node_modules\angular\angular.js"></script>
    
    <!--App-->
    <script src="app.js"></script>
</head>
<body ng-controller="PermissionAppCtrl">
    <div class="container">
        <h1 class="p-3 mb-2 bg-light text-dark">Permission</h1>
        <p class="p-3 mb-2 bg-light text-dark">{{data}}</p>
        
        <p>Sections</p>
        <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">2</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
        <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
        </div>
        
        
        <!--<input ng-model="" type="checkbox" name="" id="checkOne">-->
        <!--<input ng-model="" type="checkbox" name="" id="checkTwo">-->
        <!--<input ng-model="" type="checkbox" name="" id="checkThree">-->
        <!--<input ng-model="" type="checkbox" name="" id="checkFour">-->
        <!--<input ng-model="" type="checkbox" name="" id="checkFive">-->
        <!--<input ng-model="" type="checkbox" name="" id="checkSix">-->
        <!--<input ng-model="" type="checkbox" name="" id="checkSeven">-->
        <!--<input ng-model="" type="checkbox" name="" id="checkEight">-->
        <!--<input ng-model="" type="checkbox" name="" id="checkNine">-->
        <!--<input ng-model="" type="checkbox" name="" id="checkTen">-->
        <!--<input ng-model="" type="checkbox" name="" id="checkEleven">-->
        <!--<input ng-model="" type="checkbox" name="" id="checkTwelve">-->
        <!--<input ng-model="" type="checkbox" name="" id="checkThirteen">-->
        <!--<input ng-model="" type="checkbox" name="" id="checkFourteenFifteen">-->
        <!--<input ng-model="" type="checkbox" name="" id="checkFifteen">-->

        

        <!--Повинно бути прив'язано до  LocalStorage! Після натискання дані зберігаються у LocalStorage-->
        <button ng-click="clickHandler()" type="button" class="btn btn-primary">Save</button>
   </div>
</body>
</html>