<!DOCTYPE html>
<html ng-app="PermissionApp" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Permission Page</title>
    
    <!--Bootstrap.min.css-->
    <link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.min.css">
    
    <!--AngularJS-->
    <script src="node_modules\angular\angular.js"></script>
    
    <!--App-->
    <script src="app.js"></script>
</head>
<body ng-controller="CheckboxCtrl">
    <div class="container">
        <h1 class="p-3 mb-2 bg-light text-dark">Permission</h1>

        
        
        
        
        
        <label>Click me to toggle: <input type="checkbox" ng-model="checked"></label><br/>
<button ng-model="button" ng-disabled="checked">Button</button>
        
        
        
        
        
        
        
        
        
       
       
       
       
       
       
       
       
        <!--Повинно бути прив'язано до  LocalStorage! Після натискання дані зберігаються у LocalStorage-->
        <button ng-click="clickHandler()" type="button" class="btn btn-primary">Save</button>
   </div>
</body>
</html>